
       
       body {
            padding-top: 210px;
        }
        .main-nav {
            background-color: #FFFDFD;
            border-color: #3AE81B;
            border-width: 5px;
            border-radius: 10px;
        }
        .main-nav ul li a {
            margin-top: 50px;
            height: 150px;
            background-color: #FFFDFD;
            border-color: #3AE81B;
            border-width: 5px;
            border-radius: 10px;
        }
        .main-nav .navbar-nav li a:focus,
        .main-nav .navbar-nav li a:hover {
            color: #51D23A;
        }
        .main-nav li a.active {
            color: #51D23A;
        }
        .main-nav li a.active {
            border: 2px solid  #51D23A;
            border-radius: 5px;
        }
     
        .DnTLogo {
            border-radius: 30%;
        }


.panel-heading {
  height: 380px;
}
     





.panel  {
  
  max-width : 500px;

}


h1 {
  color:   #5D123A;
}