            
           
       
       body {
            padding-top: 210px;
        }
        .main-nav {
            background-color: #FFFDFD;
            border-color: #3AE81B;
            border-width: 5px;
            border-radius: 10px;
        }
        .main-nav ul li a {
            margin-top: 50px;
            height: 150px;
            background-color: #FFFDFD;
            border-color: #3AE81B;
            border-width: 5px;
            border-radius: 10px;
        }
        .main-nav .navbar-nav li a:focus,
        .main-nav .navbar-nav li a:hover {
            color: #51D23A;
        }
        .main-nav li a.active {
            color: #51D23A;
        }
        .main-nav li a.active {
            border: 2px solid  #51D23A;
            border-radius: 5px;
        }
     
        .DnTLogo {
            border-radius: 30%;
        }
           button {
          color: #51D23A !important;
          border-color: #51D23A !important;
          background-color: #51D23A !important;
           }
         
            
          .main-image-cont row {
          max-height: 800px;
          }
            
         .gallery{
           margin: 0px 0px;
           max-width: 1200px;
           max-height: auto; 
           background-color: #5ECA59;
           margin-left: auto;
           margin-right: auto;
           }
           
    
           .gallery .thumbnail img:hover{
           filter:grayscale(0);
           transform: scale(1.1);
           }  
           
           .a href {
           max-height: 100%;
           max-width: auto;
           
