
       
       body {
            padding-top: 210px;
        }
        .main-nav {
            background-color: #FFFDFD;
            border-color: #3AE81B;
            border-width: 5px;
        }
        .main-nav ul li a {
            margin-top: 50px;
            height: 150px;
            background-color: #FFFDFD;
            border-color: #3AE81B;
            border-width: 5px;
            border-radius: 10px;
        }
        .main-nav .navbar-nav li a:focus,
        .main-nav .navbar-nav li a:hover {
            color: #51D23A;
        }
        .main-nav li a.active {
            color: #51D23A;
        }
        .main-nav li a.active {
            border: 2px solid  #51D23A;
            border-radius: 5px;
        }
        .carousel-caption {
            align-content: center;
        }
        .DnTLogo {
            border-radius: 30%;
        }
        .carousel-inner .item img {
            width: 100%;
        }
        .contact-container {
            max-width: 400px;
            margin-top: 5px;
        }
        .list-item {
            line-height: 4;
            list-style-type: none;
        }
        .contact-text {
            font: 300 20px 'Lato', sans-serif;
            letter-spacing: 1.9px;
            color: #51D23A;
        }
        .contact-text a {
            color: #51D23A;
            text-decoration: none;
        }
        #myCarousel {
            max-width: 1200px;
            margin: 0 auto;
        }
        #myCarousel .carousel-inner {
            max-height: 844px;
        }
        
        
        
 